body {
    background-color: whitesmoke;
}
.parent {
    height: 400px;
    width: 70%;
    display: flex;
    background-color: red;
    overflow-x: hidden;
}

.slide {
    display: flex;
}
img {
    /*width: 25%; */
    height: 350px;
}
p {
    font-size: 20px;
    color: white;
    font-weight: 900;
    margin: 0;
}
.fa-less-than {
    position: relative;
    bottom: 40%;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    left: 2%;
}
.fa-greater-than {
    position: relative;
    left: 65%;
    bottom: 40%;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}